.ff0 {
	font-family: sans-serif;
	visibility: hidden;
}
@font-face {
	font-family: ff1;
	src: url(f1.woff) format("woff");
}
.ff1 {
	font-family: ff1;
	line-height: 0.669434;
	font-style: normal;
	font-weight: normal;
	visibility: visible;
}
@font-face {
	font-family: ff2;
	src: url(f2.woff) format("woff");
}
.ff2 {
	font-family: ff2;
	line-height: 0.939453;
	font-style: normal;
	font-weight: normal;
	visibility: visible;
}
@font-face {
	font-family: ff3;
	src: url(f3.woff) format("woff");
}
.ff3 {
	font-family: ff3;
	line-height: 0.938477;
	font-style: normal;
	font-weight: normal;
	visibility: visible;
}
@font-face {
	font-family: ff4;
	src: url(f4.woff) format("woff");
}
.ff4 {
	font-family: ff4;
	line-height: 0.92334;
	font-style: normal;
	font-weight: normal;
	visibility: visible;
}
.m0 {
	transform: matrix(0.25, 0, 0, 0.25, 0, 0);
	-ms-transform: matrix(0.25, 0, 0, 0.25, 0, 0);
	-webkit-transform: matrix(0.25, 0, 0, 0.25, 0, 0);
}
.v0 {
	vertical-align: 0px;
}
.ls0 {
	letter-spacing: 0px;
}
.sc_ {
	text-shadow: none;
}
.sc0 {
	text-shadow: -0.015em 0 transparent, 0 0.015em transparent,
		0.015em 0 transparent, 0 -0.015em transparent;
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
	.sc_ {
		-webkit-text-stroke: 0px transparent;
	}
	.sc0 {
		-webkit-text-stroke: 0.015em transparent;
		text-shadow: none;
	}
}
.ws0 {
	word-spacing: 0px;
}
._a {
	margin-left: -2.448px;
}
._3 {
	margin-left: -1.008px;
}
._0 {
	width: 1.012px;
}
._1 {
	width: 7.008px;
}
._2 {
	width: 10.272px;
}
._11 {
	width: 12.336px;
}
._13 {
	width: 22.56px;
}
._12 {
	width: 37.152px;
}
._15 {
	width: 50.592px;
}
._b {
	width: 95.808px;
}
._c {
	width: 101.136px;
}
._16 {
	width: 127.872px;
}
._14 {
	width: 140.64px;
}
._18 {
	width: 148.992px;
}
._19 {
	width: 154.56px;
}
._d {
	width: 231.744px;
}
._9 {
	width: 239.856px;
}
._7 {
	width: 277.248px;
}
._10 {
	width: 284.736px;
}
._8 {
	width: 295.872px;
}
._f {
	width: 327.84px;
}
._6 {
	width: 354.624px;
}
._e {
	width: 405.312px;
}
._4 {
	width: 434.64px;
}
._5 {
	width: 442.608px;
}
._17 {
	width: 597.12px;
}
.fc0 {
	color: rgb(0, 0, 0);
}
.fs0 {
	font-size: 44px;
}
.fs1 {
	font-size: 48px;
}
.fs4 {
	font-size: 64px;
}
.fs2 {
	font-size: 68px;
}
.fs3 {
	font-size: 100px;
}
.y9 {
	bottom: 4.611997px;
}
.y8 {
	bottom: 20.48px;
}
.y7 {
	bottom: 36.347997px;
}
.y6 {
	bottom: 57.213997px;
}
.y4 {
	bottom: 76.019997px;
}
.y5 {
	bottom: 87.198997px;
}
.y3 {
	bottom: 91.887998px;
}

.y29 {
	bottom: 300.194978px;
}
.y28 {
	bottom: 313.993989px;
}
.y27 {
	bottom: 327.793px;
}
.y26 {
	bottom: 341.592011px;
}
.y25 {
	bottom: 362.290009px;
}
.y24 {
	bottom: 382.988007px;
}
.y23 {
	bottom: 403.686006px;
}
.y22 {
	bottom: 431.283989px;
}
.y21 {
	bottom: 445.082989px;
}
.y20 {
	bottom: 458.881989px;
}
.y1f {
	bottom: 472.681001px;
}
.y1e {
	bottom: 486.480012px;
}
.y1d {
	bottom: 500.278993px;
}
.y1c {
	bottom: 514.078004px;
}
.y1b {
	bottom: 527.877015px;
}
.y0 {
	bottom: 539px;
}
.y1a {
	bottom: 541.675996px;
}
.y19 {
	bottom: 562.373994px;
}
.y18 {
	bottom: 589.971996px;
}
.y17 {
	bottom: 603.770997px;
}
.y16 {
	bottom: 619.639009px;
}
.y15 {
	bottom: 635.506989px;
}
.y14 {
	bottom: 651.375001px;
}
.y13 {
	bottom: 665.174012px;
}
.y12 {
	bottom: 678.972993px;
}
.y11 {
	bottom: 692.772004px;
}
.y10 {
	bottom: 706.571015px;
}
.yf {
	bottom: 720.369996px;
}
.ye {
	bottom: 741.068005px;
}
.yd {
	bottom: 761.766006px;
}
.yc {
	bottom: 782.464005px;
}
.yb {
	bottom: 810.061997px;
}
.ya {
	bottom: 824.709007px;
}
.y2 {
	bottom: 858.114004px;
}
.y1 {
	bottom: 976.226001px;
}
.h2 {
	height: 29.326172px;
}
.h9 {
	height: 34.359375px;
}
.h8 {
	height: 34.945312px;
}
.h4 {
	height: 34.992188px;
}
.h7 {
	height: 46.65625px;
}
.h5 {
	height: 49.505859px;
}
.h6 {
	height: 72.802734px;
}
.h3 {
	height: 103.143997px;
}
.h1 {
	height: 421px;
}
.h0 {
	height: 1008px;
}
.w2 {
	width: 73.199997px;
}
.w3 {
	width: 421.200012px;
}
.w1 {
	width: 497.5px;
}
.w0 {
	width: 612px;
}
.x1 {
	left: 5.4px;
}
.x5 {
	left: 21.956px;
}
.x7 {
	left: 42.894999px;
}
.x3 {
	left: 54.765002px;
}
.x0 {
	left: 56px;
}
.x4 {
	left: 90.452002px;
}
.xa {
	left: 92.700001px;
}
.x2 {
	left: 129.899998px;
}
.x6 {
	left: 139.687994px;
}
.xf {
	left: 149.011997px;
}
.x8 {
	left: 213.892994px;
}
.x9 {
	left: 219.655003px;
}
.x10 {
	left: 232.947002px;
}
.xe {
	left: 236.700001px;
}
.xb {
	left: 248.099998px;
}
.xd {
	left: 272.700001px;
}
.xc {
	left: 309.700001px;
}
@media print {
	.v0 {
		vertical-align: 0pt;
	}
	.ls0 {
		letter-spacing: 0pt;
	}
	.ws0 {
		word-spacing: 0pt;
	}
	._a {
		margin-left: -3.264pt;
	}
	._3 {
		margin-left: -1.344pt;
	}
	._0 {
		width: 1.349333pt;
	}
	._1 {
		width: 9.344pt;
	}
	._2 {
		width: 13.696pt;
	}
	._11 {
		width: 16.448pt;
	}
	._13 {
		width: 30.08pt;
	}
	._12 {
		width: 49.536pt;
	}
	._15 {
		width: 67.456pt;
	}
	._b {
		width: 127.744pt;
	}
	._c {
		width: 134.848pt;
	}
	._16 {
		width: 170.496pt;
	}
	._14 {
		width: 187.52pt;
	}
	._18 {
		width: 198.656pt;
	}
	._19 {
		width: 206.08pt;
	}
	._d {
		width: 308.992pt;
	}
	._9 {
		width: 319.808pt;
	}
	._7 {
		width: 369.664pt;
	}
	._10 {
		width: 379.648pt;
	}
	._8 {
		width: 394.496pt;
	}
	._f {
		width: 437.12pt;
	}
	._6 {
		width: 472.832pt;
	}
	._e {
		width: 540.416pt;
	}
	._4 {
		width: 579.52pt;
	}
	._5 {
		width: 590.144pt;
	}
	._17 {
		width: 796.16pt;
	}
	.fs0 {
		font-size: 58.666667pt;
	}
	.fs1 {
		font-size: 64pt;
	}
	.fs4 {
		font-size: 85.333333pt;
	}
	.fs2 {
		font-size: 90.666667pt;
	}
	.fs3 {
		font-size: 133.333333pt;
	}
	.y9 {
		bottom: 6.149329pt;
	}
	.y8 {
		bottom: 27.306667pt;
	}
	.y7 {
		bottom: 48.463996pt;
	}
	.y6 {
		bottom: 76.285329pt;
	}
	.y4 {
		bottom: 101.359996pt;
	}
	.y5 {
		bottom: 116.26533pt;
	}
	.y3 {
		bottom: 122.51733pt;
	}

	.y29 {
		bottom: 400.25997pt;
	}
	.y28 {
		bottom: 418.658652pt;
	}
	.y27 {
		bottom: 437.057334pt;
	}
	.y26 {
		bottom: 455.456015pt;
	}
	.y25 {
		bottom: 483.053346pt;
	}
	.y24 {
		bottom: 510.650675pt;
	}
	.y23 {
		bottom: 538.248007pt;
	}
	.y22 {
		bottom: 575.045319pt;
	}
	.y21 {
		bottom: 593.443985pt;
	}
	.y20 {
		bottom: 611.842653pt;
	}
	.y1f {
		bottom: 630.241334pt;
	}
	.y1e {
		bottom: 648.640016pt;
	}
	.y1d {
		bottom: 667.038657pt;
	}
	.y1c {
		bottom: 685.437339pt;
	}
	.y1b {
		bottom: 703.83602pt;
	}
	.y0 {
		bottom: 718.666667pt;
	}
	.y1a {
		bottom: 722.234661pt;
	}
	.y19 {
		bottom: 749.831992pt;
	}
	.y18 {
		bottom: 786.629328pt;
	}
	.y17 {
		bottom: 805.027996pt;
	}
	.y16 {
		bottom: 826.185345pt;
	}
	.y15 {
		bottom: 847.342653pt;
	}
	.y14 {
		bottom: 868.500001pt;
	}
	.y13 {
		bottom: 886.898683pt;
	}
	.y12 {
		bottom: 905.297324pt;
	}
	.y11 {
		bottom: 923.696005pt;
	}
	.y10 {
		bottom: 942.094687pt;
	}
	.yf {
		bottom: 960.493328pt;
	}
	.ye {
		bottom: 988.090673pt;
	}
	.yd {
		bottom: 1015.688009pt;
	}
	.yc {
		bottom: 1043.285341pt;
	}
	.yb {
		bottom: 1080.082663pt;
	}
	.ya {
		bottom: 1099.61201pt;
	}
	.y2 {
		bottom: 1144.152006pt;
	}
	.y1 {
		bottom: 1301.634668pt;
	}
	.h2 {
		height: 39.101562pt;
	}
	.h9 {
		height: 45.8125pt;
	}
	.h8 {
		height: 46.59375pt;
	}
	.h4 {
		height: 46.65625pt;
	}
	.h7 {
		height: 62.208333pt;
	}
	.h5 {
		height: 66.007812pt;
	}
	.h6 {
		height: 97.070312pt;
	}
	.h3 {
		height: 137.52533pt;
	}
	.h1 {
		height: 561.333333pt;
	}
	.h0 {
		height: 1344pt;
	}
	.w2 {
		width: 97.599996pt;
	}
	.w3 {
		width: 561.600016pt;
	}
	.w1 {
		width: 663.333333pt;
	}
	.w0 {
		width: 816pt;
	}
	.x1 {
		left: 7.2pt;
	}
	.x5 {
		left: 29.274666pt;
	}
	.x7 {
		left: 57.193332pt;
	}
	.x3 {
		left: 73.020002pt;
	}
	.x0 {
		left: 74.666667pt;
	}
	.x4 {
		left: 120.602669pt;
	}
	.xa {
		left: 123.600001pt;
	}
	.x2 {
		left: 173.199997pt;
	}
	.x6 {
		left: 186.250659pt;
	}

	.x8 {
		left: 285.190659pt;
	}
	.x9 {
		left: 292.873337pt;
	}
	.x10 {
		left: 310.596003pt;
	}
	.xe {
		left: 315.600001pt;
	}
	.xb {
		left: 330.799998pt;
	}
	.xd {
		left: 363.600001pt;
	}
	.xc {
		left: 412.933334pt;
	}
}
