.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.925293;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.938477;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.887695;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:0.858398;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
.fc1{color:rgb(51,51,51);}
.fc0{color:rgb(0,0,0);}
.fs1{font-size:40.000000px;}
.fs2{font-size:44.000000px;}
.fs0{font-size:48.000000px;}
.y2{bottom:2.543000px;}
.yd{bottom:2.543004px;}
.y13{bottom:10.098000px;}
.y10{bottom:13.824997px;}
.y9{bottom:16.342000px;}
.y12{bottom:23.526000px;}
.yf{bottom:27.020998px;}
.yc{bottom:30.141004px;}
.yb{bottom:112.935002px;}
.ya{bottom:274.364006px;}
.y8{bottom:398.555008px;}
.y0{bottom:481.500000px;}
.y11{bottom:481.848999px;}
.ye{bottom:516.348999px;}
.y7{bottom:572.484001px;}
.y6{bottom:586.283002px;}
.y5{bottom:625.137001px;}
.y4{bottom:638.936001px;}
.y3{bottom:652.735001px;}
.y1{bottom:666.534000px;}
.h4{height:13.799000px;}
.h2{height:27.598000px;}
.h8{height:29.121094px;}
.ha{height:29.927734px;}
.h9{height:34.000000px;}
.h3{height:34.945312px;}
.h7{height:36.391998px;}
.h5{height:55.195999px;}
.h6{height:124.191002px;}
.h1{height:186.500000px;}
.h0{height:792.000000px;}
.w4{width:21.100000px;}
.we{width:26.400000px;}
.w8{width:27.850000px;}
.wf{width:42.049999px;}
.w6{width:45.000000px;}
.wb{width:68.949997px;}
.wd{width:70.400002px;}
.w3{width:77.800003px;}
.wc{width:98.699997px;}
.w9{width:112.900002px;}
.wa{width:119.750000px;}
.w7{width:245.600006px;}
.w5{width:397.250000px;}
.w2{width:496.149994px;}
.w1{width:502.500000px;}
.w0{width:612.000000px;}
.x2{left:5.400000px;}
.x1a{left:6.735000px;}
.xb{left:7.775000px;}
.x15{left:9.749000px;}
.x10{left:14.209000px;}
.x16{left:16.569000px;}
.x8{left:18.254000px;}
.xa{left:19.584000px;}
.x12{left:23.824999px;}
.x14{left:25.407000px;}
.xd{left:29.580000px;}
.x1b{left:32.081999px;}
.x17{left:44.324999px;}
.x18{left:48.724001px;}
.x0{left:74.500000px;}
.x1{left:77.400000px;}
.x5{left:79.440000px;}
.xc{left:103.750002px;}
.x3{left:155.200003px;}
.x4{left:176.300002px;}
.xe{left:217.150002px;}
.x7{left:290.049994px;}
.x6{left:303.248001px;}
.x9{left:335.049994px;}
.xf{left:337.400002px;}
.x19{left:364.299995px;}
.x11{left:406.850014px;}
.x13{left:506.049995px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
.fs1{font-size:53.333333pt;}
.fs2{font-size:58.666667pt;}
.fs0{font-size:64.000000pt;}
.y2{bottom:3.390667pt;}
.yd{bottom:3.390672pt;}
.y13{bottom:13.463999pt;}
.y10{bottom:18.433329pt;}
.y9{bottom:21.789333pt;}
.y12{bottom:31.368000pt;}
.yf{bottom:36.027997pt;}
.yc{bottom:40.188005pt;}
.yb{bottom:150.580003pt;}
.ya{bottom:365.818675pt;}
.y8{bottom:531.406677pt;}
.y0{bottom:642.000000pt;}
.y11{bottom:642.465332pt;}
.ye{bottom:688.465332pt;}
.y7{bottom:763.312002pt;}
.y6{bottom:781.710669pt;}
.y5{bottom:833.516001pt;}
.y4{bottom:851.914668pt;}
.y3{bottom:870.313334pt;}
.y1{bottom:888.712001pt;}
.h4{height:18.398666pt;}
.h2{height:36.797333pt;}
.h8{height:38.828125pt;}
.ha{height:39.903646pt;}
.h9{height:45.333333pt;}
.h3{height:46.593750pt;}
.h7{height:48.522664pt;}
.h5{height:73.594666pt;}
.h6{height:165.588003pt;}
.h1{height:248.666667pt;}
.h0{height:1056.000000pt;}
.w4{width:28.133334pt;}
.we{width:35.199999pt;}
.w8{width:37.133334pt;}
.wf{width:56.066666pt;}
.w6{width:60.000000pt;}
.wb{width:91.933329pt;}
.wd{width:93.866669pt;}
.w3{width:103.733337pt;}
.wc{width:131.599996pt;}
.w9{width:150.533335pt;}
.wa{width:159.666667pt;}
.w7{width:327.466675pt;}
.w5{width:529.666667pt;}
.w2{width:661.533325pt;}
.w1{width:670.000000pt;}
.w0{width:816.000000pt;}
.x2{left:7.200000pt;}
.x1a{left:8.980000pt;}
.xb{left:10.366667pt;}
.x15{left:12.998667pt;}
.x10{left:18.945333pt;}
.x16{left:22.092000pt;}
.x8{left:24.338667pt;}
.xa{left:26.112000pt;}
.x12{left:31.766666pt;}
.x14{left:33.876000pt;}
.xd{left:39.440001pt;}
.x1b{left:42.775999pt;}
.x17{left:59.099999pt;}
.x18{left:64.965335pt;}
.x0{left:99.333333pt;}
.x1{left:103.200000pt;}
.x5{left:105.920000pt;}
.xc{left:138.333336pt;}
.x3{left:206.933338pt;}
.x4{left:235.066669pt;}
.xe{left:289.533335pt;}
.x7{left:386.733325pt;}
.x6{left:404.330668pt;}
.x9{left:446.733325pt;}
.xf{left:449.866669pt;}
.x19{left:485.733327pt;}
.x11{left:542.466685pt;}
.x13{left:674.733327pt;}
}
