.ff0 {
	font-family: sans-serif;
	visibility: hidden;
}
@font-face {
	font-family: ff1;
	src: url(f1.woff) format("woff");
}
.ff1 {
	font-family: ff1;
	line-height: 0.669434;
	font-style: normal;
	font-weight: normal;
	visibility: visible;
}
@font-face {
	font-family: ff2;
	src: url(f2.woff) format("woff");
}
.ff2 {
	font-family: ff2;
	line-height: 0.887695;
	font-style: normal;
	font-weight: normal;
	visibility: visible;
}
@font-face {
	font-family: ff3;
	src: url(f3.woff) format("woff");
}
.ff3 {
	font-family: ff3;
	line-height: 0.939453;
	font-style: normal;
	font-weight: normal;
	visibility: visible;
}
.m0 {
	transform: matrix(0.25, 0, 0, 0.25, 0, 0);
	-ms-transform: matrix(0.25, 0, 0, 0.25, 0, 0);
	-webkit-transform: matrix(0.25, 0, 0, 0.25, 0, 0);
}
.v0 {
	vertical-align: 0px;
}
.ls0 {
	letter-spacing: 0px;
}
.sc_ {
	text-shadow: none;
}
.sc0 {
	text-shadow: -0.015em 0 transparent, 0 0.015em transparent,
		0.015em 0 transparent, 0 -0.015em transparent;
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
	.sc_ {
		-webkit-text-stroke: 0px transparent;
	}
	.sc0 {
		-webkit-text-stroke: 0.015em transparent;
		text-shadow: none;
	}
}
.ws0 {
	word-spacing: 0px;
}
._1 {
	margin-left: -2.064px;
}
._0 {
	width: 1.056px;
}
._2 {
	width: 25.536px;
}
.fc1 {
	color: rgb(51, 51, 51);
}
.fc0 {
	color: rgb(0, 0, 0);
}
.fs6 {
	font-size: 40px;
}
.fs5 {
	font-size: 44px;
}
.fs4 {
	font-size: 48px;
}
.fs3 {
	font-size: 52px;
}
.fs0 {
	font-size: 56px;
}
.fs1 {
	font-size: 68px;
}
.fs2 {
	font-size: 102px;
}
.ya {
	bottom: 2.543px;
}
.y1f {
	bottom: 2.543004px;
}
.y17 {
	bottom: 9.442001px;
}
.yc {
	bottom: 9.443001px;
}
.y10 {
	bottom: 16.342px;
}
.y8 {
	bottom: 16.554001px;
}
.y1a {
	bottom: 30.14px;
}
.y16 {
	bottom: 30.140003px;
}
.y1e {
	bottom: 30.141004px;
}
.y7 {
	bottom: 31.503006px;
}
.y6 {
	bottom: 46.452003px;
}
.y15 {
	bottom: 50.838002px;
}
.y5 {
	bottom: 61.401005px;
}
.y19 {
	bottom: 71.536px;
}
.y4 {
	bottom: 78.999002px;
}
.y2 {
	bottom: 79.483004px;
}
.y1c {
	bottom: 95.604004px;
}
.y3 {
	bottom: 106.521004px;
}
.y1d {
	bottom: 122.935002px;
}
.y1b {
	bottom: 229.795006px;
}
.y18 {
	bottom: 273.261009px;
}
.y14 {
	bottom: 356.053001px;
}
.y13 {
	bottom: 418.146996px;
}
.y12 {
	bottom: 445.745007px;
}
.y11 {
	bottom: 459.544003px;
}
.yf {
	bottom: 473.342995px;
}
.ye {
	bottom: 500.941006px;
}
.yd {
	bottom: 514.740002px;
}
.yb {
	bottom: 569.936001px;
}
.y9 {
	bottom: 583.734997px;
}
.y0 {
	bottom: 584px;
}
.y1 {
	bottom: 597.533997px;
}
.h7 {
	height: 13.799px;
}
.h9 {
	height: 27.598px;
}
.hd {
	height: 34.945312px;
}
.h8 {
	height: 34.992188px;
}
.h3 {
	height: 37.324219px;
}
.h6 {
	height: 37.908203px;
}
.h4 {
	height: 49.505859px;
}
.ha {
	height: 62.094002px;
}
.h5 {
	height: 74.258789px;
}
.hb {
	height: 82.792px;
}
.h2 {
	height: 122.466003px;
}
.hc {
	height: 139.191002px;
}
.h1 {
	height: 131px;
}
.h0 {
	height: 792px;
}
.w8 {
	width: 12.5px;
}
.wc {
	width: 37.950001px;
}
.w4 {
	width: 47.950001px;
}
.wa {
	width: 49.599998px;
}
.w6 {
	width: 92.199997px;
}
.w2 {
	width: 99.949997px;
}
.w9 {
	width: 166.399994px;
}
.w5 {
	width: 198.399994px;
}
.w7 {
	width: 241px;
}
.wd {
	width: 248.050003px;
}
.w3 {
	width: 411.950012px;
}
.wb {
	width: 457px;
}
.w1 {
	width: 511.5px;
}
.w0 {
	width: 612px;
}
.xe {
	left: 2.55px;
}
.x2 {
	left: 5.4px;
}
.x13 {
	left: 11.204px;
}
.x15 {
	left: 12.534px;
}
.x6 {
	left: 23.513001px;
}
.x9 {
	left: 28.122px;
}
.x11 {
	left: 41.4px;
}
.x4 {
	left: 50.140002px;
}
.xc {
	left: 51.444998px;
}
.x0 {
	left: 62.5px;
}
.x1 {
	left: 68.75px;
}
.x5 {
	left: 83.424002px;
}
.xf {
	left: 111.150001px;
}
.x10 {
	left: 123.650001px;
}
.x8 {
	left: 129.371001px;
}
.x3 {
	left: 168.7px;
}
.x7 {
	left: 187.9px;
}
.xb {
	left: 290.050006px;
}
.x12 {
	left: 304.200003px;
}
.xd {
	left: 339.650012px;
}
.x14 {
	left: 342.15px;
}
.xa {
	left: 382.249988px;
}
@media print {
	.v0 {
		vertical-align: 0pt;
	}
	.ls0 {
		letter-spacing: 0pt;
	}
	.ws0 {
		word-spacing: 0pt;
	}
	._1 {
		margin-left: -2.752pt;
	}
	._0 {
		width: 1.408pt;
	}
	._2 {
		width: 34.048pt;
	}
	.fs6 {
		font-size: 53.333333pt;
	}
	.fs5 {
		font-size: 58.666667pt;
	}
	.fs4 {
		font-size: 64pt;
	}
	.fs3 {
		font-size: 69.333333pt;
	}
	.fs0 {
		font-size: 74.666667pt;
	}
	.fs1 {
		font-size: 90.666667pt;
	}
	.fs2 {
		font-size: 136pt;
	}
	.ya {
		bottom: 3.390667pt;
	}
	.y1f {
		bottom: 3.390672pt;
	}
	.y17 {
		bottom: 12.589335pt;
	}
	.yc {
		bottom: 12.590668pt;
	}
	.y10 {
		bottom: 21.789333pt;
	}
	.y8 {
		bottom: 22.072001pt;
	}
	.y1a {
		bottom: 40.186667pt;
	}
	.y16 {
		bottom: 40.186671pt;
	}
	.y1e {
		bottom: 40.188005pt;
	}
	.y7 {
		bottom: 42.004008pt;
	}
	.y6 {
		bottom: 61.936005pt;
	}
	.y15 {
		bottom: 67.784003pt;
	}
	.y5 {
		bottom: 81.868006pt;
	}
	.y19 {
		bottom: 95.381334pt;
	}
	.y4 {
		bottom: 105.332003pt;
	}
	.y2 {
		bottom: 105.977338pt;
	}
	.y1c {
		bottom: 127.472005pt;
	}
	.y3 {
		bottom: 142.028005pt;
	}
	.y1d {
		bottom: 150.580003pt;
	}
	.y1b {
		bottom: 293.060008pt;
	}
	.y18 {
		bottom: 364.348012pt;
	}
	.y14 {
		bottom: 474.737335pt;
	}
	.y13 {
		bottom: 557.529327pt;
	}
	.y12 {
		bottom: 594.326675pt;
	}
	.y11 {
		bottom: 612.725337pt;
	}
	.yf {
		bottom: 631.123993pt;
	}
	.ye {
		bottom: 667.921341pt;
	}
	.yd {
		bottom: 686.320002pt;
	}
	.yb {
		bottom: 759.914668pt;
	}
	.y9 {
		bottom: 778.313329pt;
	}
	.y0 {
		bottom: 778.666667pt;
	}
	.y1 {
		bottom: 796.711995pt;
	}
	.h7 {
		height: 18.398666pt;
	}
	.h9 {
		height: 36.797333pt;
	}
	.hd {
		height: 46.59375pt;
	}
	.h8 {
		height: 46.65625pt;
	}
	.h3 {
		height: 49.765625pt;
	}
	.h6 {
		height: 50.544271pt;
	}
	.h4 {
		height: 66.007812pt;
	}
	.ha {
		height: 82.792002pt;
	}
	.h5 {
		height: 99.011719pt;
	}
	.hb {
		height: 110.389333pt;
	}
	.h2 {
		height: 163.288005pt;
	}
	.hc {
		height: 165.588003pt;
	}
	.h1 {
		height: 174.666667pt;
	}
	.h0 {
		height: 1056pt;
	}
	.w8 {
		width: 16.666667pt;
	}
	.wc {
		width: 50.600001pt;
	}
	.w4 {
		width: 63.933334pt;
	}
	.wa {
		width: 66.133331pt;
	}
	.w6 {
		width: 122.933329pt;
	}
	.w2 {
		width: 133.266663pt;
	}
	.w9 {
		width: 221.866659pt;
	}
	.w5 {
		width: 264.533325pt;
	}
	.w7 {
		width: 321.333333pt;
	}
	.wd {
		width: 330.733337pt;
	}
	.w3 {
		width: 549.266683pt;
	}
	.wb {
		width: 609.333333pt;
	}
	.w1 {
		width: 682pt;
	}
	.w0 {
		width: 816pt;
	}
	.xe {
		left: 3.4pt;
	}
	.x2 {
		left: 7.2pt;
	}
	.x13 {
		left: 14.938667pt;
	}
	.x15 {
		left: 16.712pt;
	}
	.x6 {
		left: 31.350668pt;
	}
	.x9 {
		left: 37.496pt;
	}
	.x11 {
		left: 55.2pt;
	}
	.x4 {
		left: 66.853336pt;
	}
	.xc {
		left: 68.593331pt;
	}
	.x0 {
		left: 83.333333pt;
	}
	.x1 {
		left: 91.666667pt;
	}
	.x5 {
		left: 111.232003pt;
	}
	.xf {
		left: 148.200001pt;
	}
	.x10 {
		left: 164.866667pt;
	}
	.x8 {
		left: 172.494668pt;
	}
	.x3 {
		left: 224.933333pt;
	}
	.x7 {
		left: 250.533333pt;
	}
	.xb {
		left: 386.733341pt;
	}
	.x12 {
		left: 405.600004pt;
	}
	.xd {
		left: 452.866683pt;
	}
	.x14 {
		left: 456.2pt;
	}
	.xa {
		left: 509.66665pt;
	}
}
