.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.669434;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.693359;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.910645;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:0.938477;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff5;src:url(f5.woff)format("woff");}.ff5{font-family:ff5;line-height:0.938965;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._9{margin-left:-1.056000px;}
._0{width:1.008000px;}
._1{width:8.160000px;}
._3{width:63.936000px;}
._6{width:101.184000px;}
._7{width:151.872000px;}
._8{width:239.856000px;}
._4{width:277.248000px;}
._2{width:290.640000px;}
._5{width:455.952000px;}
.fc1{color:rgb(51,51,51);}
.fc0{color:rgb(0,0,0);}
.fs3{font-size:48.000000px;}
.fs0{font-size:56.000000px;}
.fs4{font-size:64.000000px;}
.fs1{font-size:68.000000px;}
.fs2{font-size:104.000000px;}
.y18{bottom:2.543000px;}
.y1a{bottom:9.693001px;}
.y1c{bottom:16.342000px;}
.y20{bottom:16.342008px;}
.y1f{bottom:30.141004px;}
.y7{bottom:41.836993px;}
.y1e{bottom:43.940007px;}
.y1d{bottom:50.773994px;}
.y6{bottom:55.635993px;}
.y5{bottom:69.434993px;}
.y4{bottom:86.261991px;}
.y3{bottom:114.211992px;}
.y2{bottom:116.752993px;}
.y1b{bottom:188.764000px;}
.y19{bottom:230.161034px;}
.y0{bottom:244.000000px;}
.y17{bottom:244.460033px;}
.y16{bottom:281.500043px;}
.y15{bottom:322.896039px;}
.y14{bottom:343.594037px;}
.y13{bottom:384.991010px;}
.y12{bottom:398.790021px;}
.y11{bottom:412.589032px;}
.y10{bottom:426.388013px;}
.yf{bottom:440.187024px;}
.ye{bottom:453.986035px;}
.yd{bottom:495.382027px;}
.yc{bottom:516.080029px;}
.yb{bottom:536.778028px;}
.ya{bottom:578.175031px;}
.y9{bottom:606.621021px;}
.y8{bottom:641.933030px;}
.y1{bottom:650.375032px;}
.h9{height:13.799000px;}
.hb{height:27.598000px;}
.ha{height:28.098000px;}
.h6{height:33.351562px;}
.hd{height:34.945312px;}
.h8{height:34.968750px;}
.h3{height:37.324219px;}
.h4{height:46.085938px;}
.h7{height:46.593750px;}
.h5{height:70.484375px;}
.h2{height:130.082993px;}
.hc{height:137.990005px;}
.h1{height:535.000000px;}
.h0{height:841.900024px;}
.w5{width:52.849998px;}
.w2{width:76.400002px;}
.w4{width:162.899994px;}
.w6{width:249.649994px;}
.w3{width:427.299988px;}
.w1{width:515.000000px;}
.w0{width:595.299988px;}
.x2{left:5.400000px;}
.x10{left:12.095000px;}
.x0{left:30.000000px;}
.x9{left:36.000000px;}
.x1{left:41.400000px;}
.x4{left:55.208998px;}
.x8{left:56.275000px;}
.xd{left:69.240002px;}
.xc{left:72.000000px;}
.x5{left:85.964003px;}
.x6{left:115.630003px;}
.x3{left:117.800002px;}
.x7{left:151.791998px;}
.xb{left:205.619003px;}
.xa{left:211.427002px;}
.x11{left:270.150000px;}
.xf{left:275.300003px;}
.xe{left:328.150002px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._9{margin-left:-1.408000pt;}
._0{width:1.344000pt;}
._1{width:10.880000pt;}
._3{width:85.248000pt;}
._6{width:134.912000pt;}
._7{width:202.496000pt;}
._8{width:319.808000pt;}
._4{width:369.664000pt;}
._2{width:387.520000pt;}
._5{width:607.936000pt;}
.fs3{font-size:64.000000pt;}
.fs0{font-size:74.666667pt;}
.fs4{font-size:85.333333pt;}
.fs1{font-size:90.666667pt;}
.fs2{font-size:138.666667pt;}
.y18{bottom:3.390667pt;}
.y1a{bottom:12.924001pt;}
.y1c{bottom:21.789333pt;}
.y20{bottom:21.789344pt;}
.y1f{bottom:40.188005pt;}
.y7{bottom:55.782658pt;}
.y1e{bottom:58.586676pt;}
.y1d{bottom:67.698659pt;}
.y6{bottom:74.181324pt;}
.y5{bottom:92.579990pt;}
.y4{bottom:115.015989pt;}
.y3{bottom:152.282656pt;}
.y2{bottom:155.670657pt;}
.y1b{bottom:251.685333pt;}
.y19{bottom:306.881378pt;}
.y0{bottom:325.333333pt;}
.y17{bottom:325.946711pt;}
.y16{bottom:375.333391pt;}
.y15{bottom:430.528052pt;}
.y14{bottom:458.125383pt;}
.y13{bottom:513.321346pt;}
.y12{bottom:531.720028pt;}
.y11{bottom:550.118710pt;}
.y10{bottom:568.517351pt;}
.yf{bottom:586.916032pt;}
.ye{bottom:605.314714pt;}
.yd{bottom:660.509369pt;}
.yc{bottom:688.106705pt;}
.yb{bottom:715.704037pt;}
.ya{bottom:770.900041pt;}
.y9{bottom:808.828028pt;}
.y8{bottom:855.910707pt;}
.y1{bottom:867.166710pt;}
.h9{height:18.398666pt;}
.hb{height:36.797333pt;}
.ha{height:37.463999pt;}
.h6{height:44.468750pt;}
.hd{height:46.593750pt;}
.h8{height:46.625000pt;}
.h3{height:49.765625pt;}
.h4{height:61.447917pt;}
.h7{height:62.125000pt;}
.h5{height:93.979167pt;}
.h2{height:173.443990pt;}
.hc{height:183.986674pt;}
.h1{height:713.333333pt;}
.h0{height:1122.533366pt;}
.w5{width:70.466665pt;}
.w2{width:101.866669pt;}
.w4{width:217.199992pt;}
.w6{width:332.866659pt;}
.w3{width:569.733317pt;}
.w1{width:686.666667pt;}
.w0{width:793.733317pt;}
.x2{left:7.200000pt;}
.x10{left:16.126667pt;}
.x0{left:40.000000pt;}
.x9{left:48.000000pt;}
.x1{left:55.200000pt;}
.x4{left:73.611998pt;}
.x8{left:75.033333pt;}
.xd{left:92.320002pt;}
.xc{left:96.000000pt;}
.x5{left:114.618671pt;}
.x6{left:154.173338pt;}
.x3{left:157.066669pt;}
.x7{left:202.389331pt;}
.xb{left:274.158671pt;}
.xa{left:281.902669pt;}
.x11{left:360.200000pt;}
.xf{left:367.066671pt;}
.xe{left:437.533335pt;}
}
